
TestVariables/bin/
TestVariables/obj/
.vs/TestVariables/v15/Server/sqlite3/storage.ide-wal
MultiTarget/bin/Debug/netstandard2.0/MultiTarget.deps.json
MultiTarget/bin/Debug/netcoreapp2.1/MultiTarget.deps.json
.vs/TestVariables/v15/Server/sqlite3/storage.ide-shm
.vs/TestVariables/v15/Server/sqlite3/storage.ide
.vs/TestVariables/v15/Server/sqlite3/db.lock
MultiTarget/obj/Debug/net40/MultiTarget.AssemblyInfo.cs
MultiTarget/obj/Debug/net40/MultiTarget.csproj.FileListAbsolute.txt
MultiTarget/obj/Debug/net45/MultiTarget.AssemblyInfo.cs
MultiTarget/obj/Debug/net45/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MultiTarget/obj/Debug/net45/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MultiTarget/obj/Debug/net45/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MultiTarget/obj/Debug/netcoreapp2.1/MultiTarget.AssemblyInfo.cs
MultiTarget/obj/Debug/netcoreapp2.1/MultiTarget.csproj.FileListAbsolute.txt
MultiTarget/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MultiTarget/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MultiTarget/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MultiTarget/obj/Debug/netstandard2.0/MultiTarget.AssemblyInfo.cs
MultiTarget/obj/Debug/netstandard2.0/MultiTarget.csproj.FileListAbsolute.txt
MultiTarget/obj/MultiTarget.csproj.nuget.g.props
MultiTarget/obj/MultiTarget.csproj.nuget.g.targets
MultiTarget/obj/project.assets.json
Packages/
