
TestVariables/bin/
TestVariables/obj
MultiTarget/bin
MultiTarget/obj
MsTestUnitTestProjectNetCore/bin
MsTestUnitTestProjectNetCore/obj
UnitTestProjectNetFx/obj
UnitTestProjectNetFx/bin
.vs
et.g.targets
MultiTarget/obj/project.assets.json
Packages/
*.dll
*.cache
